# engine-strict = true # Disallow use of non-standard JavaScript syntax
# 强制使用package.json中指定的pnpm版本
engine-strict=true
# 使用pnpm存储,不再使用本地store,使用全局pnpm store,注释掉store-dir=.pnpm-store
# store-dir=.pnpm-store
# 自动安装peers
auto-install-peers=true
# 严格peer dependencies
strict-peer-dependencies=false
# 禁止自动更新
update-notifier=false